/* Colours 
Projects
#131314;

Lax blue, purple, green
#0096d9
#bb38fe
#00ab77

Illuminote blue, pink
#58d0ff
#fc5f94

Conference Manager teal, dark teal
#2eded0
#1a938a
*/

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #1c1d1f;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
}

/* Chevron animation */
.arrow {
  position: relative;
  bottom: -5rem;
  width: 3%;
  height: 3%;

  background-image: url("images/chevron_down.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* Text format */
h1 {
    font-size: 12vw;
    text-align: center;
    line-height: 95%;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 50px;
    margin-top:0;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    line-height: normal;
}

.bigger {
    font-size: 25vw;
    font-weight: bold;
    text-align: center;
    color: white;
}


/* PROGRAMMER SECTION */
.programmer {
    display: center;
    margin-bottom: 100px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 50px;
}

.project {
    display: flex;
    flex-direction: column;
    background: #131314;
    color: white;
    width: 100%;
    padding: 50px;
    margin: 20px;
    box-shadow: 0 0 14px #121314;
    border-radius: 30px;
    line-height: 150%;
    max-width: 500px;
    position: relative;
    justify-content: space-between;
}

/* Titles */
.project-title {
    font-size: 40px;
}

#illuminote-title-blue {
    color: #58d0ff;
}

#illuminote-title-pink {
    color: #fc5f94;
}

#con-man-title {
    background: -webkit-linear-gradient(#2eded0, #1a938a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#lax-title {
    background: -webkit-linear-gradient(left, #ac33e9, #0096d9, #00ab77);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-logo {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
}

#lax-logo {
    width: 40%;
}

.project-content {
    opacity: 0;
    transition: 0.2s;
}

.project:hover .project-content {
    opacity: 1;
    transition: 0.2s;
}

.project:hover .project-button {
    opacity: 1;
    transition: 0.2s;
}

.project:hover .project-logo {
    opacity: 0;
    transition: 0.2s;
} 

.break {
    flex-basis: 100%;
    height: 0;
}

/* Project Buttons */
.project-button {
    display: inline-block;
    justify-content: space-between;
    border: none;
    border-radius: 50px;
    padding: 7px 20px 7px 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin: 5px;
    
    background: rgb(212, 212, 212);
    color: black;
    opacity: 0;
    font-weight: bold;
    text-decoration: none;
    text-align: center;   
    position: bottom;
    transition: 0.2s;
}

.project-button:hover {
    text-decoration: none;
    filter: brightness(60%);
}

#illuminote-button1 {
    background: linear-gradient(to right, #58d0ff, #367f9c);
}
#illuminote-button2 {
    background: linear-gradient(to right, #fc5f94, #b9456c);
}

#conference-manager-button {
    background: linear-gradient(to right, #2eded0, #1a938a);
}

#lax-button {
    background: linear-gradient(to right, #bb38fe, #0096d9, #00ab77);
}

#senso-button {
    background: linear-gradient(to right, rgb(212, 212, 212), rgb(156, 156, 156));
}

.all-projects-button {
    background: #131314;
    color: white;

    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;

    padding: 20px;
    border: none;
    border-radius: 30px;
    padding: 20px 30px 20px 30px;
    margin: 20px;
    transition: 0.2s;
}

.all-projects-button:hover {
    background: white;
    color: #131314;
}

.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* Toolbox Section */
#toolbox {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    /* min-width: 70vw; */
    /* width: 50%; */
    width: 700px;
    /* height: auto; */
    height: 50%;
    border-radius: 30px;
    perspective: 800px;
    transform-style: preserve-3d;
    background:rgb(102, 1, 1);
    margin: 20px;
    margin-top: 60px;
    text-align: center;
}

#stack {
    list-style-type: none;
    padding: 50px;
    border-radius: 30px;
}

#handle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 35px;
    background: linear-gradient(to right, rgb(40, 40, 40), rgb(10, 10, 10), rgb(40, 40, 40));
    box-shadow: 0 0 30px rgb(87, 1, 1);
    border-radius: 20px;
    transition-delay: 0.6s;
}

/* https://stackoverflow.com/questions/37455152/creating-a-box-flap-open-effect-using-only-css */
#flap {
    position: absolute;
    background: darkred;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
    transition: transform 0.5s 0.5s;
    border-radius: 30px;
}

#toolbox:hover #flap {
    transform: rotateX(170deg);
    transition: transform 0.5s 0.5s;
}

#toolbox:hover #handle {
    opacity: 0%;
    transition-delay: 0.6s;
}

/* .project-content:not(:hover) {
    opacity: 0;
} */

/* COURSES SECTION */
.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    min-width: 50px;
}

.course-wrapper {
    justify-content: center;
    min-height: 1px;
    margin: 15px;
}

.course {
    display: flex;
    flex-direction: column;
    background: #131314;
    padding: 25px;
    box-shadow: 0 0 14px #121314;
    border-radius: 30px;
    line-height: 150%;
    max-width: 250px;
    position: relative;
    justify-content: center;
    letter-spacing: 1px;
    overflow: hidden;
}

.course-title {
    font-size: 60px;
    font-weight: bold;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
    line-height: 100%;
}

.course-content {
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    opacity: 0;
}

.inner-course-title {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    line-height: normal;
}

.course-name {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: normal;
}

.marquee {
    font-size: 14px;
    opacity: 0.5;
    margin: 5px 0px 5px 0px;
    overflow: hidden;
    white-space: nowrap;
    animation-play-state: running;
}

.course:hover .course-title { opacity: 0; }
.course:hover .course-content { opacity: 1; }

.marquee-left1 {
    display: inline-block;
    animation: marquee1 40s linear infinite;
}

.marquee-left2 {
    display: inline-block;
    animation: marquee2 40s linear infinite;
}

.marquee-right1 {
    display: inline-block;
    animation: marquee1 40s linear infinite;
    animation-direction: reverse;
}

.marquee-right2 {
    display: inline-block;
    animation: marquee2 40s linear infinite;
    animation-direction: reverse;
}

/* https://gist.github.com/Jaskaranbir/eb0f26d0ba47f55e25fde3b63d8b7ef4 */

@keyframes marquee1 {
    from { transform: translateX(0%); }
    to { transform: translateX(-100%); }
}

@keyframes marquee2 {
    from { transform: translateX(0%); }
    to { transform: translateX(-101%);}
}


/* For smaller screens */
@media only screen and (max-width: 750px) {
    body {
        padding-left: 5%;
        padding-right: 5%;
    }

    .project {
        min-width: 80vw;
        padding: 25px;
        margin: 10px;
    }

    .project-title { font-size: 30px; }
    .project-content { margin: 2px; }

    #toolbox {
        min-width: 80vw;
        width: 50%;
        height: 50%;
    }

    .course {
        min-width: 200px;
        max-width: 300px;
        width: 80vw;
    }

    .course-wrapper { margin: 10px; }
    .course-title { opacity: 0; }
    .course-content { opacity: 1; }
}