/* Colour Constants
Projects
#131313;

Lax blue, purple, green
#0096d9
#bb38fe
#00ab77

Illuminote blue, pink
#58d0ff
#fc5f94

Conference Manager teal, dark teal
#2eded0
#1a938a
*/

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #1c1d1f;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
}

/* Chevron animation */
.arrow {
    position: relative;
    bottom: -5rem;
    width: 3%;
    height: 3%;

    background-image: url("images/chevron_down.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.bounce { animation: bounce 2s infinite; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* Text format */
h1 {
    font-size: 12vw;
    text-align: center;
    line-height: 95%;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    line-height: normal;
    text-align: center;
    margin-top: 20px;
    opacity: 70%;
}

.top { height: 100vh; }

.bigger {
    font-size: 25vw;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: white;
    padding-bottom: 5%;
    line-height: 45%;
}

.section-title {
    display: inline-block;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 10;
    padding: 5px;
    backdrop-filter: blur(10px);
    margin-bottom: 0px;
    border-radius: 15px;
    text-shadow: 1px 1px 10px #131313;
}

/* PROGRAMMER SECTION */
.programmer {
    display: center;
    /* padding-bottom: 100px; */
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 50px;
}

/* .project-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 500px;
    position: relative;
    justify-content: space-between;
} */

.project {
    display: flex;
    flex-direction: column;
    background: #131313;
    color: white;
    width: 100%;
    padding: 50px;
    margin: 20px;
    box-shadow: 0 0 14px #121314;

    /* box-shadow:  14px 14px 29px #0e0e0f,
             -14px -14px 29px #181819; */
    border-radius: 30px;
    line-height: 150%;
    max-width: 500px;
    position: relative;
    justify-content: space-between;
}

/* Titles */
.project-title { 
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    line-height: normal;
}

#illuminote-title-blue { color: #58d0ff; }
#illuminote-title-pink { color: #fc5f94; }

#con-man-title {
    background: -webkit-linear-gradient(#2eded0, #1a938a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#lax-title {
    background: -webkit-linear-gradient(left, #ac33e9, #0096d9, #00ab77);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-logo {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
}

#lax-logo { width: 40%; }

.project-description { opacity: 0.75; }

.project-content {
    opacity: 0;
    transition: 0.2s;
}

.project:hover .project-content {
    opacity: 1;
    transition: 0.2s;
}

.project:hover .project-button {
    opacity: 1;
    transition: 0.2s;
}

.project:hover .project-logo {
    opacity: 0;
    transition: 0.2s;
} 

.break {
    flex-basis: 100%;
    height: 0;
}

/* Project Buttons */
.project-button {
    display: inline-block;
    justify-content: space-between;
    border: none;
    border-radius: 50px;
    padding: 7px 20px 7px 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin: 5px;
    
    background: rgb(212, 212, 212);
    color: black;
    opacity: 0;
    font-weight: bold;
    text-decoration: none;
    text-align: center;   
    position: bottom;
    transition: 0.2s;
}

.project-button:hover {
    text-decoration: none;
    filter: brightness(60%);
}

#illuminote-button1 { background: linear-gradient(to right, #58d0ff, #367f9c); }
#illuminote-button2 { background: linear-gradient(to right, #fc5f94, #b9456c); }
#conference-manager-button { background: linear-gradient(to right, #2eded0, #1a938a); }
#lax-button { background: linear-gradient(to right, #bb38fe, #0096d9, #00ab77); }
#senso-button { background: linear-gradient(to right, rgb(212, 212, 212), rgb(156, 156, 156)); }

.all-projects-button {
    background: #131313;
    color: white;

    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;

    padding: 20px;
    border: none;
    border-radius: 30px;
    padding: 20px 30px 20px 30px;
    margin: 20px;
    transition: 0.2s;
}

.all-projects-button:hover {
    background: white;
    color: #131313;
}

/* .wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
} */

/* Toolbox Section */
.toolbox-section {
    /* height: 60vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0px 220px 0px;
    /* background: palegoldenrod; */
    /* background: palegreen; */
}

.toolbox-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    width: 80vw;
    max-width: 1000px;
    height: auto;
    /* height: 50%; */
    border-radius: 30px;
    transform-style: preserve-3d;
    /* background:rgb(102, 1, 1); */
    background: #0c0c0e;
    /* margin: 20px; */
    margin-top: 50px;
    text-align: center;
    perspective: 1750px;
}

/* #tools {
    list-style-type: none;
    padding: 50px;
    border-radius: 30px;
} */

/* #handle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 35px;
    background: linear-gradient(to right, rgb(40, 40, 40), rgb(10, 10, 10), rgb(40, 40, 40));
    background:rgb(102, 1, 1);
    box-shadow: 0 0 30px rgb(87, 1, 1);
    border-radius: 20px;
    transition-delay: 0.6s;
} */

/* https://stackoverflow.com/questions/37455152/creating-a-box-flap-open-effect-using-only-css */
.flap {
    position: absolute;
    background: #131313;
    
    /* background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%); */

    width: 100%;
    height: 100%;
    transform-origin: 0 0;
    /* transition: transform 0.5s 0.5s; */
    transition: transform;
    border-radius: 30px;
    z-index: 5;
}

/* .flap:after {
    background-color: #a37131;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.25), hsla(0,0%,0%,.25));
    bottom: 0;
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    -webkit-transform: rotateX(-90deg);
    -webkit-transform-origin: 100% 50%;
} */

.tools {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 1rem;
    margin: 20px;
    margin-bottom: 24px;
    /* margin-top: 20px; */
    /* height: 20rem; */
    width: 100%;
    /* max-width: 1000px; */
    /* background-color: paleturquoise; */
}

.tool:nth-child(1){ grid-column: span 2; }
.tool:nth-child(2){ grid-column: span 2; }
.tool:nth-child(5){ grid-column: span 3; }
.tool:nth-child(7){ grid-column: span 5; }
.tool:nth-child(8){ grid-column: span 2; }
.tool:nth-child(10){ grid-column: span 2; }

.tool {
    /* font-weight: bold;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #131313;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    margin: 3px;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    height: 5%;
    opacity: 0;
    transition: 0.2s; */

    /* background: linear-gradient(145deg, #141415, #111112);
    box-shadow:  5px 5px 10px #101011,
             -5px -5px 10px #161617; */

    /* background: #262626; */
    /* background: #131313; */
    background: #222222;
    
    /* box-shadow:  9px 9px 29px #121213,
             -9px -9px 29px #141415; */

    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.3rem;
    text-indent: 0.3rem;
    /* background: palevioletred; */
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    /* opacity: 0; */
    box-shadow: 2px 4px #161616;
    opacity: 0;
    transition: 0.3s;
    padding: 15px;
}

.tool-seen { 
    opacity: 1;
    animation: slide-up 0.3s;
}

@keyframes slide-up {
    0% { transform: translateY(60%); }
    100% { transform: translateY(0); }
}


#tool-java { 
    background: linear-gradient(to right, #f4821a 25%, #4e7896 75%);
	-webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
}

#tool-python { 
    background: linear-gradient(to right, #fed042 20%, #3470a3 70%);
	-webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
}

#tool-git { 
    background: linear-gradient(to right, #f0563b 0%, #b43b25 100%);
	-webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
}

#tool-c { 
    background: linear-gradient(to right, #6c7bd3 0%, #3541a0 100%);
	-webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
}

#tool-unix { 
    background: linear-gradient(to right, #169e5a 0%, #0c5d35 100%);
	-webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
}

#tool-r { 
    background: linear-gradient(to right, #256fca 0%, #1c5499 80%);
	-webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
}

#tool-asm { 
    background: linear-gradient(to right, #6a94d8 0%, #496695e3 100%);
	-webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
}

#tool-html { 
    background: linear-gradient(to right, #f16528 0%, #ca4220b2 100%);
	-webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
}

#tool-css { 
    background: linear-gradient(to right, #2fa9de 0%, #0c72b8 100%);
	-webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
}

#tool-js { 
    background: linear-gradient(to right, #f6d344 0%, #c2a627ca 80%);
	-webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* .tool-seen {
    transition: 0.2s;
    opacity: 1;
    margin: 2px;
} */

/* .flap-move {
    transform: rotateX(170deg);
    transition: transform 0.5s 0.5s;
} */


/* #toolbox-container:hover #flap {
    transform: rotateX(170deg);
    transition: transform 0.5s 0.5s;
} */

/* #toolbox-container:hover #handle {
    opacity: 0%;
    transition-delay: 0.6s;
} */

/* .project-content:not(:hover) {
    opacity: 0;
} */

/* LEARNER SECTION */
.learner {
    margin: 0px;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    min-width: 50px;
}

.course-wrapper {
    display: flex;
    justify-content: center;
    min-height: 1px;
    margin: 15px;
}

.course {
    display: flex;
    flex-direction: column;
    background: #131313;
    padding: 25px;
    box-shadow: 0 0 14px #121314;
    /* box-shadow:  20px 20px 31px #191a1b,
    -20px -20px 31px #1f2023; */
    border-radius: 30px;
    line-height: 150%;
    max-width: 300px;
    position: relative;
    justify-content: center;
    letter-spacing: 1px;
    overflow: hidden;
    justify-content: space-between;
}

.course-title {
    font-size: 60px;
    font-weight: bold;
    width: 50%;
    /* text-align: center; */
    text-align: right;
    position: absolute;
    /* top: 50%;
    left: 50%; */
    top: 100%;
    left: 100%;
    padding: 30px;
    /* transform: translate(-50%, -50%); */
    transform: translate(-100%, -100%);
    transition: 0.2s;
    line-height: 100%;
    opacity: 75%;
}

.course-icon {
    position: absolute;
    opacity: 0.7;
    width: 40%;
    transition: 0.2s;
}

.course-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.2s;
    opacity: 0;
}

.inner-course-title {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    line-height: normal;
}

.course-name {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: normal;
}

.marquee {
    font-size: 14px;
    opacity: 0.7;
    margin: 5px 0px 5px 0px;
    overflow: hidden;
    white-space: nowrap;
    /* animation-play-state: running; */
}

.course:hover .course-title { opacity: 0; }
.course:hover .course-icon { opacity: 0; }
.course:hover .course-content { opacity: 1; }

.marquee-left1 {
    display: inline-block;
    animation: marquee1 40s linear infinite;
    animation-play-state: paused;
}

.marquee-left2 {
    display: inline-block;
    animation: marquee2 40s linear infinite;
    animation-play-state: paused;
}

.marquee-right1 {
    display: inline-block;
    animation: marquee1 40s linear infinite;
    animation-direction: reverse;
    animation-play-state: paused;
}

.marquee-right2 {
    display: inline-block;
    animation: marquee2 40s linear infinite;
    animation-direction: reverse;
    animation-play-state: paused;
}

.course:hover .marquee-left1 { animation-play-state:running; }
.course:hover .marquee-left2 { animation-play-state: running; }
.course:hover .marquee-right1 { animation-play-state: running; }
.course:hover .marquee-right2 { animation-play-state: running; }

/* https://gist.github.com/Jaskaranbir/eb0f26d0ba47f55e25fde3b63d8b7ef4 */

@keyframes marquee1 {
    from { transform: translateX(0%); }
    to { transform: translateX(-100%); }
}

@keyframes marquee2 {
    from { transform: translateX(0%); }
    to { transform: translateX(-101%);}
}


/* For smaller screens */
@media only screen and (max-width: 750px) {
    body {
        padding-left: 5%;
        padding-right: 5%;
    }

    h2 { font-size: 40px; }

    .project {
        min-width: 80vw;
        padding: 25px;
        margin: 10px;
    }

    .project-title { font-size: 30px; }
    .project-content { margin: 2px; }
    
    .toolbox-container {
        width: 90vw;
    }
    
    .tool { 
        font-size: 14px; 
        letter-spacing: 0.1rem;
        text-indent: 0.1rem;
    }

    /* #toolbox-container {
        min-width: 80vw;
        width: 50%;
        height: 50%;
    } */

    .course {
        /* min-width: 200px;
        max-width: 300px;
        width: 80vw; */
        width: 90vw;
        min-width: 1px;
        max-width: 300px;
    }

    .course-wrapper { margin: 10px; }
    .course-title { opacity: 0; }
    .course-icon { opacity: 0; }
    .course-content { opacity: 1; }

    .course:not(:hover) .marquee-left1 { animation-play-state:running; }
    .course:not(:hover) .marquee-left2 { animation-play-state:running; }
    .course:not(:hover) .marquee-right1 { animation-play-state:running; }
    .course:not(:hover) .marquee-right2 { animation-play-state:running; }
}

/* gradients from https://uigradients.com/ */
#csc108 { background: -webkit-linear-gradient(to right, #A5CC82, #2980B9); background: linear-gradient(to right, #A5CC82, #2980B9); }
#csc148 { background: -webkit-linear-gradient(to right, #2980B9, #9796f0); background: linear-gradient(to right, #2980B9, #9796f0); }
#csc165 { background: -webkit-linear-gradient(to right, #9796f0, #F7BB97); background: linear-gradient(to right, #9796f0, #F7BB97); }
#sta130 { background: -webkit-linear-gradient(to right, #F7BB97, #DD5E89); background: linear-gradient(to right, #F7BB97, #DD5E89); }
#csc207 { background: -webkit-linear-gradient(to right, #DD5E89, #12D8FA); background: linear-gradient(to right, #DD5E89, #12D8FA); }
#csc209 { background: -webkit-linear-gradient(to right, #12D8FA, #F9D423); background: linear-gradient(to right, #12D8FA, #F9D423); }
#csc236 { background: -webkit-linear-gradient(to right, #F9D423, #E94057); background: linear-gradient(to right, #F9D423, #E94057); }
#csc258 { background: -webkit-linear-gradient(to right, #E94057, #86A8E7); background: linear-gradient(to right, #E94057, #86A8E7); }
#csc263 { background: -webkit-linear-gradient(to right, #86A8E7, #20B2AA); background: linear-gradient(to right, #86A8E7, #20B2AA); }