/* Colour Constants
Projects
#131313

Lax blue, purple, green
#0096d9
#bb38fe
#00ab77

Illuminote blue, pink
#58d0ff
#fc5f94

Conference Manager teal, dark teal
#2eded0
#1a938a
*/

@font-face {
    font-family: cousine;
    src: url(cousine/Cousine-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: cousine;
    src: url(cousine/Cousine-Bold.ttf);
    font-weight: bold;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #1c1d1f;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 2750px;
    margin: auto;
    max-width: 100%;
    overflow-x: hidden;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
}

section { padding-bottom: 20vh; }

/* Chevron animation */
.arrow {
    position: relative;
    bottom: -10vh;
    width: 5%;
    height: 5%;
    background-image: url("images/chevron_down.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.arrow-clear {
    opacity: 0;
    transition: 0.4s;
}

.bounce { animation: bounce 2s infinite; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-4vh);
  }
  60% {
    transform: translateY(-2vh);
  }
}

/* Text format */
h1 {
    font-size: 9vw;
    text-align: center;
    line-height: 95%;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    line-height: normal;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
    opacity: 80%;
}

.li-break { margin-bottom: 15px}

.home { height: 100vh; }

.bigger {
    font-size: 27vw;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: white;
    padding-bottom: 5%;
    line-height: 45%;
}

.section-title {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 10;
    padding: 0rem 1rem 0rem 1rem;
    border-radius: 1rem;
    background-color: rgba(28, 29, 31, 0.95); /* For Firefox */
    margin-top: 0; /* To prevent small see through bar abover title */
    margin-bottom: 10vh; /* Children will add to bottom margin */
}

#section-title-worker { margin-bottom: 0; }

/* Blur section title */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .section-title { background-color: rgba(28, 29, 31, 0.8); }
    .section-title::before {
        position: absolute;
        z-index: -1;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        border-radius: 1rem;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}

.section-title-inner-wrapper { 
    display: flex;
    flex-wrap: wrap;
}

.ima {
    cursor: arrow;
    color: white;
    text-shadow: 1px 1px 10px #131313;
    background: none;
    border-color: transparent;
    padding: 0.5rem 0 0.5rem 0;
    margin: 0;
}

.dropdown-button {
    display: inline;
    cursor: pointer;
    color: white;
    border-color: transparent;
    background: none;
    padding: 0.5rem;
}

.dropdown-items {
    display: block;
    position: absolute; /* Take out of stacking context */
    transition: ease 0.1s;
    list-style: none;
    padding: 0; /* Cancel default padding, margin */
    margin: 0;
    text-shadow: none;
    
    /* Make dropdown invisible */
    opacity: 0;
    height: 0;
    pointer-events: none;   
}

.dropdown:hover .dropdown-items {
    opacity: 1;
    height: auto;
    pointer-events: all;
}

.dropdown-item {
    position: relative;
    padding: 0.25rem 0.4rem;
    border-radius: 1rem;
    opacity: 1;
    background-color: rgba(28, 29, 31, 0.95); /* For Firefox */
    transition: ease 0.2s;
}

.dropdown-item:hover {
    background-color: rgba(49, 51, 54, 0.95); /* For Firefox */
    transition: ease 0.2s;
}

/* Blur nav options */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .dropdown-item { background-color: rgba(28, 29, 31, 0.8); }
    .dropdown-item:hover { background-color: rgba(49, 51, 54, 0.8); }
    .dropdown-item::before {
        position: absolute;
        z-index: -1;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        border-radius: 1rem;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        transition: none;
    }
}

.dropdown-link {
    display: block; /* To give full-width of button to click */
    text-decoration: none;
    color:#999999;
}

.dropdown-link-text { display: inline-block; } /* So gradient text's width extends text only, not full background */

#section-title-text-programmer,
.dropdown-item-programmer:hover .dropdown-link-programmer { background: linear-gradient(to right, #aaf569 0%, #08d1a2 100%); }

#section-title-text-learner,
.dropdown-item-learner:hover .dropdown-link-learner { background: linear-gradient(to right, #3feafa 0%, #3196e9 100%); }

#section-title-text-worker,
.dropdown-item-worker:hover .dropdown-link-worker { background: linear-gradient(to right, #ffa76c 0%, #fb6666 100%); }

#section-title-text-replier,
.dropdown-item-replier:hover .dropdown-link-replier { background: linear-gradient(to right, #f4f65e 0%, #d69224 100%); }

#section-title-text-programmer,
.dropdown-item-programmer:hover .dropdown-link-programmer,
#section-title-text-learner,
.dropdown-item-learner:hover .dropdown-link-learner,
#section-title-text-worker,
.dropdown-item-worker:hover .dropdown-link-worker,
#section-title-text-replier,
.dropdown-item-replier:hover .dropdown-link-replier { 
    -webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
    transition: ease 0.2s;
}

.triangle {
    display: inline;
    font-size: 14px;
    color: white;
    text-shadow: 1px 1px 10px #131313;
    background: none;
	-webkit-background-clip: none;
    background-clip: none;
	-webkit-text-fill-color: white;
}



/* PROGRAMMER SECTION */
.programmer { display: center; }

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 50px;
}

.project {
    display: flex;
    flex-direction: column;
    background: #131313;
    color: white;
    width: 100%;
    padding: 50px;
    margin: 20px;
    box-shadow:  10px 10px 20px #18181a,
             -10px -10px 20px #18181a;
    border-radius: 30px;
    line-height: 150%;
    max-width: 500px;
    position: relative;
    justify-content: space-between;
    transition: 0.3s ease;
}

/* Project Titles */
.project-title { 
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    line-height: normal;
}

#illuminote-title-blue { color: #58d0ff; }
#illuminote-title-pink { color: #fc5f94; }
#con-man-title-light { color: #2eded0; }
#con-man-title-dark { color: #1a938a; }
#lax-title-p { color: #a630e0; }
#lax-title-b { color: #0096d9; }
#lax-title-g { color: #00ab77; }

.project-logo {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
}

#lax-logo { width: 40%; }

.project-description { opacity: 0.75; }

.project-content {
    opacity: 0;
    transition: 0.2s;
}

.project:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

.project:hover .project-content, 
.project:hover .project-button {
    opacity: 1;
    transition: 0.2s;
}

.project:hover .project-logo {
    opacity: 0;
    transition: 0.2s;
} 

.break {
    flex-basis: 100%;
    height: 0;
}

/* Project Buttons */
.project-button {
    display: inline-block;
    justify-content: space-between;
    border: none;
    border-radius: 50px;
    padding: 7px 20px 7px 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin: 5px;
    
    background: rgb(212, 212, 212);
    color: black;
    opacity: 0;
    font-weight: bold;
    text-decoration: none;
    text-align: center;   
    position: bottom;
    transition: 0.2s;
}

.project-button:hover {
    text-decoration: none;
    filter: brightness(60%);
}

#illuminote-button1 { background: linear-gradient(to right, #58d0ff, #367f9c); }
#illuminote-button2 { background: linear-gradient(to right, #fc5f94, #b9456c); }
#conference-manager-button { background: linear-gradient(to right, #2eded0, #1a938a); }
#lax-button { background: linear-gradient(to right, #bb38fe, #0096d9, #00ab77); }
.senso-button { background: linear-gradient(to right, rgb(212, 212, 212), rgb(156, 156, 156)); }

.all-projects-button {
    background: #131313;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
    border: none;
    border-radius: 30px;
    padding: 20px 30px 20px 30px;
    margin: 20px;
    transition: ease 0.4s;
    box-shadow:  7px 7px 15px #18181a,
             -7px -7px 15px #18181a;
}

.all-projects-button:hover {
    background: linear-gradient(to right, #aaf569 0%, #08d1a2 100%);
    transition: ease 0.4s;
    color: #131313;
}



/* Toolbox Section */
.toolbox-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0px 0 0px;
}

.toolbox-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    width: 80vw;
    max-width: 1000px;
    height: auto;
    border-radius: 30px;
    transform-style: preserve-3d;
    background: #0c0c0e;
    margin-top: 50px;
    text-align: center;
    perspective: 1750px;
    box-shadow:  0px 28px 29px #101011,
             -14px -14px 29px #181819;
}

/* https://stackoverflow.com/questions/37455152/creating-a-box-flap-open-effect-using-only-css */
.flap {
    position: absolute;
    background: #131313;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
    transition: transform;
    border-radius: 30px;
    opacity: 0.7;
    z-index: 1;
}

.tools {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 1rem;
    margin: 20px;
    margin-bottom: 24px;
    width: 100%;
}

.tool:nth-child(1){ grid-column: span 2; }
.tool:nth-child(2){ grid-column: span 2; }
.tool:nth-child(5){ grid-column: span 3; }
.tool:nth-child(7){ grid-column: span 5; }
.tool:nth-child(8){ grid-column: span 2; }
.tool:nth-child(10){ grid-column: span 2; }

.tool {
    display: inline-block;
    background: #222222;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.3rem;
    text-indent: 0.3rem;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 2px 4px #161616;
    opacity: 0;
    transition: 0.3s;
    padding: 15px;
}

.tool-seen { 
    opacity: 1;
    animation: slide-up 0.3s;
}

@keyframes slide-up {
    0% { transform: translateY(60%); }
    100% { transform: translateY(0); }
}

#tool-java { background: linear-gradient(to right, #f4821a 25%, #5191be 70%); }
#java-left { text-shadow: 0px 0px 20px #f4831a; }
#java-right { text-shadow: 0px 0px 20px #5887a8; }

#tool-python { background: linear-gradient(to right, #dbb339 20%, #3d80bb 75%); }
#python-left { text-shadow: 0px 0px 20px #fed042; }
#python-right { text-shadow: 0px 0px 30px #3470a3; }

#tool-git { 
    background: linear-gradient(to right, #f0563b 0%, #b43b25 100%);
    text-shadow: 0px 0px 30px #f0563b;
}

#tool-c { 
    background: linear-gradient(to right, #6c7bd3 0%, #3541a0 100%);
    text-shadow: 0px 0px 20px #6c7bd3;
}

#tool-unix { 
    background: linear-gradient(to right, #169e5a 0%, #0c5d35 100%);
    text-shadow: 0px 0px 30px #169e5a;
}

#tool-r { 
    background: linear-gradient(to right, #256fca 0%, #1c5499 80%);
    text-shadow: 0px 0px 20px #256fca;
}

#tool-asm { 
    background: linear-gradient(to right, #6a94d8 0%, #2c579ce3 100%);
    text-shadow: 0px 0px 30px #6a94d8;
}

#tool-html { 
    background: linear-gradient(to right, #f16528 0%, #ca4220b2 100%);
    text-shadow: 0px 0px 30px #f16428b7;
}

#tool-css { 
    background: linear-gradient(to right, #2fa9de 0%, #0c72b8 100%);
    text-shadow: 0px 0px 30px #2fa9de;
}

#tool-js { 
    background: linear-gradient(to right, #f6d344 0%, #c2a627ca 80%);
    text-shadow: 0px 0px 30px #f6d244c5;
}

#tool-java, #tool-python, #tool-git, #tool-c, #tool-unix, #tool-r, #tool-asm, #tool-html, #tool-css, #tool-js {
    -webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
}



/* LEARNER SECTION */
.learner { margin: 0px; }

.uoft-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8vh;
    margin-left: auto;
    margin-right: auto;
    opacity: 80%;
}

.cs { 
    display: flex;
    font-size: min(300px, 8vw);
    font-weight: bold;
    margin-right: min(30px, 1vw);
    margin-bottom: min(25px, 0.8vw);
}

.specialist { 
    font-size: min(75px, 2vw); 
    margin-bottom: -0.5vw;
}

.uoft {
    font-size: min(150px, 4vw);
    font-weight: bold;
    background: linear-gradient(to right, #3196e9 0%, #3feafa 100%);
	-webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
}

.third { opacity: 100%; }
.translucent { opacity: 60%; }


.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 25px;
    min-width: 50px;
}

.course-wrapper {
    display: flex;
    justify-content: center;
    min-height: 1px;
    margin: 15px;
    transform: translateZ(-100px);
}

.course {
    display: flex;
    flex-direction: column;
    background: #131313;
    padding: 25px;
    /* box-shadow: 0 0 14px #121314; */
    box-shadow: 20px 20px 31px #191a1b,
    -20px -20px 31px #1f2023;
    border-radius: 30px;
    line-height: 150%;
    max-width: 300px;
    position: relative;
    justify-content: center;
    letter-spacing: 1px;
    overflow: hidden;
    justify-content: space-between;
    z-index: 1;
    transform: translateZ(-100px) ease;
}

.course-title {
    font-size: 60px;
    font-weight: bold;
    width: 50%;
    text-align: right;
    position: absolute;
    top: 100%;
    left: 100%;
    padding: 30px;
    transform: translate(-100%, -100%);
    transition: 0.2s;
    line-height: 100%;
    opacity: 75%;
}

.course-icon {
    position: absolute;
    opacity: 0.7;
    width: 40%;
    transition: 0.2s;
}

.course-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.2s;
    opacity: 0;
}

.inner-course-title {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    line-height: normal;
}

.course-name {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: normal;
}

.marquee {
    font-size: 14px;
    opacity: 0.7;
    margin: 5px 0px 5px 0px;
    overflow: hidden;
    white-space: nowrap;
}

.course:hover .course-title { opacity: 0; }
.course:hover .course-icon { opacity: 0; }
.course:hover .course-content { opacity: 1; }

.marquee-left1, .marquee-left2, .marquee-right1, .marquee-right2 { 
    display: inline-block;
    animation-play-state: paused;
}

.marquee-left1 { animation: marquee1 40s linear infinite; }
.marquee-left2 { animation: marquee2 40s linear infinite; }

.marquee-right1 {
    animation: marquee1 40s linear infinite;
    animation-direction: reverse;
}

.marquee-right2 {
    animation: marquee2 40s linear infinite;
    animation-direction: reverse;
}

.course:hover .marquee-left1, .course:hover .marquee-left2 { animation-play-state:running; }
.course:hover .marquee-right1, .course:hover .marquee-right2 { animation-play-state: running; }

/* https://gist.github.com/Jaskaranbir/eb0f26d0ba47f55e25fde3b63d8b7ef4 */
@keyframes marquee1 {
    from { transform: translateX(0%); }
    to { transform: translateX(-100%); }
}

@keyframes marquee2 {
    from { transform: translateX(0%); }
    to { transform: translateX(-101%);}
}

/* Course gradients - some from https://uigradients.com/ */
#csc108 { background: -webkit-linear-gradient(to right, #A5CC82, #2980B9); background: linear-gradient(to right, #A5CC82, #2980B9); }
#csc148 { background: -webkit-linear-gradient(to right, #2980B9, #9796f0); background: linear-gradient(to right, #2980B9, #9796f0); }
#csc165 { background: -webkit-linear-gradient(to right, #9796f0, #F7BB97); background: linear-gradient(to right, #9796f0, #F7BB97); }
#sta130 { background: -webkit-linear-gradient(to right, #F7BB97, #DD5E89); background: linear-gradient(to right, #F7BB97, #DD5E89); }
#csc207 { background: -webkit-linear-gradient(to right, #DD5E89, #10bddb); background: linear-gradient(to right, #DD5E89, #10bddb); }
#csc209 { background: -webkit-linear-gradient(to right, #10bddb, #e2c220); background: linear-gradient(to right, #10bddb, #e2c220); }
#csc236 { background: -webkit-linear-gradient(to right, #e2c220, #fd5b71); background: linear-gradient(to right, #e2c220, #fd5b71); }
#csc258 { background: -webkit-linear-gradient(to right, #fd5b71, #86A8E7); background: linear-gradient(to right, #fd5b71, #86A8E7); }
#csc263 { background: -webkit-linear-gradient(to right, #86A8E7, #20B2AA); background: linear-gradient(to right, #86A8E7, #20B2AA); }



/* WORKER SECTION */
.worker {
    display: flex;
	flex-direction: column;
    border-radius: 25px;
}

.worker-inner-wrapper {
    display: flex;
	flex-direction: column;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin-left: -10%; /* To cancel body padding */
    margin-right: -10%;
    border-radius: 25px; /*Should I keep this?*/
}

.path-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#three-paths {
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circles {
    position: absolute;
    transform: translateZ(-100px);
}

.circle { 
    mix-blend-mode: screen; 
    height: 60vh;
    width: 60vh;
    border-radius: 50%;
    border: 0px;
    display: inline-block;
    transform: translateZ(-100px);
}

#red-circle { background: radial-gradient(#FF6666 0%, rgba(28, 29, 31, 0.1) 70%); }
#blue-circle { background: radial-gradient(#3399FF 0%, rgba(28, 29, 31, 0.1) 70%); }
#green-circle { background: radial-gradient(#66FF66 0%, rgba(28, 29, 31, 0.1) 70%); }

.worker-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.looking-for { 
    font-size: 2rem;
    text-shadow: 1px 1px 12px #0f1011;
    margin: 0;
}

.resume-link {
    color: #1c1d1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    margin: 1rem 0 0 0;
    padding: 1rem;
    border: solid #1c1d1f 5px;
    border-radius: 50px;
    opacity: 50%;
    transition: ease 0.4s;
}

.resume-link:hover { 
    color: rgb(221, 220, 220);
    background: #1c1d1f;
    opacity: 80%; 
    transition: ease 0.4s;
}



/* REPLIER SECTION */
.replier-content { 
    display: flex; 
    flex-wrap: wrap;
    align-items: top;
    justify-content: center;
    transition: ease 0.2s;
}

.cta { 
    margin: 0 5vw 4rem 0;
    text-align: left; 
    min-width: 200px;
    line-height: 125%;
    opacity: 1;
}

.translucent80 { opacity: 0.8; }

.reach-out {
    background: linear-gradient(to right, #f4f65e 0%, #d69224 100%);
    -webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
    opacity: 1;
}

.at { font-family: monospace; }

.contacts {
    font-family: "cousine", monospace;
    font-size: min(2.5vw, 1.5rem);
    background: #27282b;
    border-radius: 30px;
    padding: 1.5rem 3rem;
    line-height: 190%;
    letter-spacing: 4px;
}

.email { margin-left: 55px; }
#email-address { 
    position: fixed;
    opacity: 0; 
}

.copied {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: hsl(225, 5%, 12%);
    padding-top: 0.2rem;
    margin: 1rem 0;
    opacity: 0.8;
    font-size: min(2.5vw, 1rem);
}

.copied.click {display: flex; }

.contacts p {
    margin-bottom: 0;
}

.contact-link-container { 
    cursor: pointer;
    transition: ease 0.2s; 
}

.contact-links, .email {
    padding: 0;
    margin-top: 0;
    margin-left: 4.5rem;
    list-style: none;
}

.contact-link {
    font-weight: bold;
    text-decoration: underline;
    background: linear-gradient(to right, #f4f65e 0%, #d69224 100%);
    -webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
    border-bottom: solid 0.15rem rgba(255, 255, 255, 40%);
}

.contact-link-container { transition: ease 0.2s; }
.contact-link-container:hover { background: hsl(225, 5%, 12%); }
.contact-link-container:hover, .contact-link:hover {
    border-radius: 0.5rem;
    padding: 0.7rem 0.5rem 0.5rem 0.5rem;
    transition: ease 0.2s;
    border: none;
}



/* Mobile adjustments */
@media only screen and (max-width: 750px) {
    body {
        padding-left: 5%;
        padding-right: 5%;
        max-width: 100%;
        overflow-x: hidden;
    }

    h2 { font-size: 35px; }
    h3 { font-size: 25px; }

    .section-title { padding: 0.3rem 0.5rem; }
    .ima { padding: 0 0.2rem 0 0; }
    .dropdown-button { padding: 0; }

    .triangle { font-size: 12px; }

    .project {
        min-width: 80vw;
        padding: 25px;
        margin: 10px;
        box-shadow:  7px 7px 14px #18181a,
             -7px -7px 14px #18181a;
    }

    .project:hover { transform: none; }
    .project-title { font-size: 30px; }
    .project-content { margin: 2px; }
    .project-description { padding-left: 1rem; }
    
    .toolbox-container { width: 90vw; }
    .tool { 
        font-size: 14px; 
        letter-spacing: 0.1rem;
        text-indent: 0.1rem;
        padding: 10px;
    }

    .uoft-container { 
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 7vw;
    }

    .cs {
        line-height: 90%;
        margin: 0 -1vw;
        font-size: 20vw;
    }

    .specialist { font-size: 5vw; }

    .uoft { 
        font-size: 10vw; 
        line-height: 95%;
    }

    .course { width: 90vw; }
    .course-wrapper { 
        margin: 10px; 
        overflow: hidden;
    }

    .worker-inner-wrapper {
        margin-left: -5%;
        margin-right: -5%;
    }

    .resume-link { font-size: 20px; }

    .cta { margin-right: 0; }

    .copied { font-size: 0.75rem; }

    .contacts {
        font-size: 3.5vw;
        padding: 0.4rem 1.3rem;
        letter-spacing: 2px;
        line-height: 225%;
    }

    .contact-links, .email {
        margin-left: 5vw;
    }

    

    /* Turn marquee ON by default on mobile
    .course-title { opacity: 0; }
    .course-icon { opacity: 0; }
    .course-content { opacity: 1; } 
    
    .course:not(:hover) .marquee-left1 { animation-play-state:running; }
    .course:not(:hover) .marquee-left2 { animation-play-state:running; }
    .course:not(:hover) .marquee-right1 { animation-play-state:running; }
    .course:not(:hover) .marquee-right2 { animation-play-state:running; } */
}